<VirtualHost *:80>
	ServerName ddimo.eu
	ServerAlias *.ddimo.eu
	DocumentRoot /var/www/ddimo.eu

	#ErrorDocument 400 /400.html
	#ErrorDocument 403 /403.html
	#ErrorDocument 404 /404.html
	#ErrorDocument 500 /500.html

	ErrorLog ${APACHE_LOG_DIR}/ddimo.error.log
	CustomLog ${APACHE_LOG_DIR}/ddimo.access.log combined
</VirtualHost>
