/**************************
 * Reset styles
 **************************/
img {border: 0 none;}
html {
	font-family: "Exo 2", monospace;
	font-size: 18px;
	letter-spacing: 0.03em;
	line-height: 1.1em;
}

hr {
	border-bottom-style: dashed;
	border-top-style: dashed;
	height: 2px;
	margin: 0;
}

/**************************
 * Header
 **************************/
header nav .nav-element {
	display: inline-block;
	font-size: 1.05em;
}
header nav a {
	font-weight: bold;
}

/**************************
 * Content
 **************************/

.content h1, .content h2, .content h3 {
	font-family: "Orbitron", "Exo 2", monospace;
	line-height: 1em;
}
.content h1, .content h2 {
	border-bottom: 1px solid;
	padding-bottom: 0.1778em;
}

.content p {
	text-align: justify;
}

.content ul > li {
	margin: 5px 0;
}
