:root {
	--body-background-color: #333;
	--body-text-color: #c8c8c8;

	--button-background-color: #666;
	--button-text-color: #ececec;

	--input-background-color: #1c1c1c;
	--input-border-color: #444;
	--input-text-color: #ccc;

	--link-color: #91c4ef;
	--link-hovered-color: #77c1ff;
	--link-visited-color: #e1b6ed;
	--link-visited-hovered-color: #e9a0fe;

	--header-background-color: #222;
	--header-shadow: 0px 5px 5px #000;
	--header-text-color: #ccc;

	--screenshot-shadow: 0px 1px 6px #111;

	--separator-color: #888;

	--crossfire-volunteer-background-color: rgba(51, 51, 51, 0.57);
	--crossfire-volunteer-content-shadow: 0 2px 16px #333;
}

body {
	background-color: var(--body-background-color);
	color: var(--body-text-color);
}

button {
	background-color: var(--button-background-color);
	border-color: var(--separator-color);
	color: var(--button-text-color);
}

input, select {
	background-color: var(--input-background-color);
	border-color: var(--input-border-color);
	color: var(--input-text-color);
}

a {color: var(--link-color);}
a:hover {color: var(--link-hovered-color);}
a:visited {color: var(--link-visited-color);}
a:visited:hover {color: var(--link-visited-hovered-color);}

.content h1, .content h2, .content h4, hr {
	border-color: var(--separator-color);
}

header {
	background-color: var(--header-background-color);
	box-shadow: var(--header-shadow);
}

header nav {
	color: var(--header-text-color);
}

.screenshots img, .screenshot img {
	box-shadow: var(--screenshot-shadow);
	border: 1px dashed var(--separator-color);
}

.content-crossfire-volunteer {
	background-color: var(--crossfire-volunteer-background-color);
	box-shadow: var(--crossfire-volunteer-content-shadow)
}

.content-crossfire-volunteer .crossfire-volunteer-screenshot-preview {
	background-color: var(--crossfire-volunteer-background-color);
}
