/* XXS / Default */
header nav {margin: auto;}
header, .content {padding: 10px;}

.content h1, .content h2 {padding-bottom: 6px;}
.content h4 {
	margin-top: 0;
	padding: 4px 5px;
}

.content ul {padding-left: 10px;}
.content ul > li {margin: 5px 0;}


/***************************************************************************
 * Negative
 ***************************************************************************/

/* M negative */
@media screen and (max-width: 64em) {
	.content h1:first-child, .content h2:first-child {margin-top: 18px;}
}

/* S negative */
@media screen and (max-width: 48em) {
	.content h1, .content h2 {margin: 14px 0;}
	.content h1:first-child, .content h2:first-child {margin-top: 7px;}
}

/* XXS negative */
@media screen and (max-width: 18em) and (orientation: portrait),
screen and (max-width: 20em) and (orientation: landscape) {
	.content h1, .content h2 {margin: 6px 0;}
	.content h1:first-child, .content h2:first-child {margin-top: 0;}
	.content p {text-align: left;}
}


/***************************************************************************
 * Positive
 ***************************************************************************/

/* XS */
@media screen and (min-width: 18.01em) and (orientation: portrait),
screen and (min-width: 20.01em) and (orientation: landscape) {
	header {padding: 13px;}

	.content ul {
		padding-left: 25px;
		padding-right: 5px;
	}
}

/* M */
@media screen and (min-width: 48em) {
	header nav, .content {
		max-width: 1033px;
		width: 100%;
	}

	.content-wrapper {
		display: flex;
		justify-content: center;
	}
	.content {
		display: flex;
		padding: 10px 32px;

	}

	.content ul {
		padding: 0 38px;
	}
}

/* L */
@media screen and (min-width: 64em) {
	header {padding: 19px;}
}
