/* XXS / Default */
@media screen {
	header nav {margin: auto;}
	header, .content {padding: 0.5925em;}
	.content ul {padding-left: 0.5925em;}
}

/***************************************************************************
 * Negative
 ***************************************************************************/

/* M negative */
@media screen and (max-width: 64em) {
	.content h1:first-child, .content h2:first-child {margin-top: 18px;}
}

/* S negative */
@media screen and (max-width: 48em) {
	.content h1, .content h2 {margin: 0.4em 0;}
	.content h1:first-child, .content h2:first-child {margin-top: 0.2em;}
}

/* XXS negative */
@media screen and (max-width: 18em) and (orientation: portrait),
screen and (max-width: 20em) and (orientation: landscape) {
	.content h1, .content h2 {margin: 0.15em 0;}
	.content h1:first-child, .content h2:first-child {margin-top: 0;}
}

/***************************************************************************
 * Positive
 ***************************************************************************/

/* XS */
@media screen and (min-width: 18.01em) and (orientation: portrait),
screen and (min-width: 20.01em) and (orientation: landscape) {
	header {padding: 0.7378em;}

	.content ul {
		padding-left: 1.481em;
		padding-right: 0.2667em;
	}
}


/* M */
@media screen and (min-width: 48em) {
	header nav {
		max-width: 100%;
		width: 57.778em;
	}

	.content-wrapper {
		display: flex;
		justify-content: center;
	}
	.content {
		display: flex;
		padding: 0.5925em 1.778em;
		width: 57.778em;
	}

	.content ul {
		padding: 0 2.222em;
	}
}


/* L */
@media screen and (min-width: 64em) {
	header {padding: 1.111em;}
	header nav {width: 60.444em;}

	header, .content {
		font-size: 0.95em;
	}

	.content {
		padding: 0.622em 1.8666em;
		width: 60.444em;
	}
}
