/* labels above the inputs */
.content form .form-input-component {
	display: flex;
	flex-flow: column;
}
.content form .form-input-component:not(:last-child) {
	margin-bottom: 5px;
}

.content form .form-input-component .form-input-name {
	font-size: 0.95em;
	padding-left: 2px;
}

/* any input */
.content form .form-input-component input, .content form .form-input-component select {
	box-sizing: border-box;
	display: inline-block;
	flex: auto;
	height: 1.8em;
	margin-top: 2px;
	width: 100%;
}

/* input with unit */
.content .form-input-with-unit {
	align-items: center;
	display: flex;
	width: 100%;
}

.content .form-input-with-unit input, .content .form-input-with-unit select {
	margin-right: 5px;
}

.content .form-input-component .form-input-with-unit .form-input-unit {
	display: inline-block;
	width: 60px;
}

/* any button */
.content .button {
	margin-bottom: 6px;
	margin-top: 12px;
	padding: 6px 3px;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}

/* main button */
.content .button-main {
	margin-left: auto;
	margin-right: auto;
	min-width: 130px;
	width: 100%;
}

@media screen and (min-width: 21em) {
	.content .button {padding: 6px 10px;}
}

@media screen and (min-width: 35.5em) {
	.content .button-main {width: min-content;}
}

/* labels next to the inputs */
@media screen and (min-aspect-ratio: 16/10) and (min-width: 21em) and (max-width: 48em), /* landscape - small screen */
screen and (max-aspect-ratio: 1/1) and (min-width: 48em) /* portrait - medium or larger */
{
	.content form .form-input-component {
		align-items: center;
		flex-flow: row;
	}

	.content form .form-input-component .form-input-name {
		flex: none;
		font-size: 1em;
		width: 190px;
	}

	.content .form-input-component input, .content .form-input-component select {
		margin-left: 5px;
	}
}

@media screen and (min-width: 48em) {
	.content .form-input-component {min-width: 260px;}
	.content .button {
		margin-top: 1em;
		padding: 6px 12px;
	}
}
