.crossfire-volunteer-background {
	background: url(crossfire-volunteer/crossfire-background.gif);
}

.content-crossfire-volunteer .screenshots {
	align-items: center;
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin: 14px 0;
	width: 100%;
}

.content-crossfire-volunteer .screenshots img {
	cursor: pointer;
	flex: 33%;
	margin: 5px;
	max-width: 95%;
}

@media screen and (min-width: 35.5em) {
	.content-crossfire-volunteer .screenshots {flex-flow: row;}
	.content-crossfire-volunteer .screenshots img {max-width: 32%;}
}

.content-crossfire-volunteer .requirements {
	text-align: left;
}
