.crossfire-volunteer-background {
	background: url(crossfire-volunteer/crossfire-background.gif);
}

.content-crossfire-volunteer .screenshots {
	margin: 17px 14px;
	text-align: center;
	width: auto;
}

.content-crossfire-volunteer .screenshots img {
	aspect-ratio: 128/90;
	cursor: pointer;
	margin: 3px;
	width: 96%;
}

@media screen and (min-width: 35.5em) {
	.content-crossfire-volunteer .screenshots img {
		max-width: 31.5%;
		width: calc(32% - 6px);
	}
}

.content-crossfire-volunteer .requirements {
	text-align: left;
}
