.crossfire-volunteer-background {
	background: url(img/crossfire-background.gif);
}

.content-crossfire-volunteer .screenshots {
	margin: 0.8em auto;
	max-width: 100%;
	text-align: center;
}

.content-crossfire-volunteer .screenshots img {
	border-radius: 5px;
	cursor: pointer;
	margin: 5px;
	max-width: calc(90% - 10px);
}

@media screen and (min-width: 35.5em) {
	.content-crossfire-volunteer .screenshots {margin: auto;}
	.content-crossfire-volunteer .screenshots img {
		width: 30%;
	}
}

.content-crossfire-volunteer .requirements {
	text-align: left;
}
