.no-script .content-doftor .schedule-container {display: none !important;}

.content-doftor {flex-flow: column;}
.content-doftor h1, .content-doftor h2 {font-family: "Exo 2", monospace;} /* Само този шрифт поддържа кирилица */

.content-doftor form {margin: 1em 0;}

.content-doftor form .date-component {
	display: flex;
	flex-flow: row;
	margin: 6px 0 12px 0;
}
.content-doftor .date-component button, .content-doftor .date-component input {
	box-sizing: border-box;
	display: inline-block;
	height: 2em;
}
.content-doftor .date-component button {width: 2.25em;}
.content-doftor .date-component input {
	flex: auto;
	max-width: calc(100% - 4.5em);
}

.content-doftor .button-main {margin: 6px 0;}

@media screen and (min-width: 35.5em) {
	.content-doftor form .date-component, .content-doftor .button-main {max-width: 260px;}
}

@media screen and (min-width: 48em) {
	.content-doftor .date-component button, .content-doftor .date-component input {height: 1.8em;}
}
