:root {
	--pendulum-border: 1px dashed;
	--stats-controls-height: 55px;
	--stats-controls-padding: 5px;

	/* window_height - header_height and some headroom - statistics_panel_height */
	--canvas-size-S: calc(100vh - 55px - var(--stats-controls-height) - 2 * var(--stats-controls-padding));
	--canvas-size-L: calc(100vh - 80px - var(--stats-controls-height) - 2 * var(--stats-controls-padding));
}

/*********************************************
 * General
 *********************************************/
.no-script .content-pendulum .screen,
.no-script .content-pendulum .control-panel {display: none !important;}

.content-pendulum {
	display: flex;
	flex-flow: column;
	padding: 0;
}

@media
screen and (min-aspect-ratio: 6/5) and (max-width: 48em) and (min-width: 21em),
screen and (min-aspect-ratio: 1/1) and (min-width: 48em) {
	.content-pendulum {flex-flow: row;}
	.content-pendulum .control-panel {
		border-left: var(--pendulum-border) var(--separator-color);
		border-top: none;
		flex: 50%;
	}
}

/*********************************************
 * Canvas (it must always be a square)
 *********************************************/
.content-pendulum .screen {
	flex: auto;
	position: relative;
}

/* landscape small */
.content-pendulum canvas {
	cursor: pointer;
	display: block;
	height: var(--canvas-size-S);
	margin: auto;
	width: var(--canvas-size-S);
}
.content-pendulum .statisics-hud {height: calc(var(--canvas-size-S) - 0.5925em);}

/* landscape large */
@media screen and (min-width: 64em) {
	.content-pendulum canvas {
		height: var(--canvas-size-L);
		width: var(--canvas-size-L);
	}
	.content-pendulum .statisics-hud {height: calc(var(--canvas-size-L) - 0.5925em);}
}

/* Prevent small scrolls when aspect ratio is close to square */
@media screen and (min-aspect-ratio: 4/5) and (max-aspect-ratio: 6/5) {
	.content-pendulum canvas {
		height: 70vh;
		width: 70vh;
	}
	.content-pendulum .statisics-hud {height: calc(70vh - 0.5925em);}
}

/* portrait orientation */
@media screen and (max-aspect-ratio: 4/5) {
	.content-pendulum canvas {
		height: 95vw;
		width: 95vw;
	}
	.content-pendulum .statisics-hud {height: calc(95vw - 0.5925em);}
}

/*********************************************
 * Statistics - HUD
 *********************************************/
.content-pendulum .statisics-hud {
	font-family: "Exo 2", sans-serif;
	left: 0.5925em;
	letter-spacing: 0.03em;
	overflow: hidden;
	position: absolute;
	right: 0.5925em;
	top: 0.33em;
	z-index: -10;
}

.content-pendulum .statisics-hud small {position: absolute;}
.content-pendulum .hud-equation {top: 0;}
.content-pendulum .hud-velocity {top: 1.2em;}
.content-pendulum .hud-angle {top: 2.4em;}
.content-pendulum .hud-frame-time {
	right: 0;
	top:  0;
}
.content-pendulum .hud-fps {
	right: 0;
	top: 1.2em;
}
.content-pendulum .hud-time {
	bottom: 0;
	right: 0;
}

/*********************************************
 * Statistics - Form
 *********************************************/
.content-pendulum .statisics-controls {
	border-top: var(--pendulum-border) var(--separator-color);
	height: var(--stats-controls-height);
	line-height: 1.1em;
	padding: var(--stats-controls-padding);
}
@media screen and (max-width: 21em) {
	.content-pendulum .statisics-controls {font-size: 0.9em;}
}

.content-pendulum .statisics-controls label {text-align: center;}
.content-pendulum .statisics-controls .equation-definition {
	font-family: "Exo 2", sans-serif;
	margin-bottom: 6px;
}



/*********************************************
 * Control Panel
 *********************************************/
.content-pendulum .control-panel {
	flex: auto;
	padding: 0.5925em;
}

.content-pendulum .control-panel h4 {overflow: hidden;}
.content-pendulum .control-panel h4 span {float: left}
.content-pendulum .control-panel h4 small {float: right;}

.content-pendulum .control-panel .button-container { margin: auto; }
.content-pendulum .control-panel .button-main {min-width: 140px;}

/* any orientation - medium or larger screen */
@media screen and (min-width: 48em) {
	.content-pendulum .control-panel {
		max-width: 57.778em;
		padding: 0.5925em 1em;
	}
}

@media screen and (min-width: 64em) {
	.content-pendulum .control-panel {padding: 1em;}
}
