.content-pendulum-help .screenshot {
	display: block;
	margin: 0.5925em auto;
	max-width: 450px;
	width: 95%;
}

.content-pendulum-help .screenshot img {
	border: 1px dashed var(--separator-color);
	border-radius: 5px;
	margin: 5px;
	width: 100%;
}

@media screen and (min-width: 48em) {
	.content-pendulum-help .screenshot {
		margin: 1em 0.5925em;
	}
}
