.content-pendulum-help .screenshot {
	display: block;
	margin: 10px auto;
	max-width: 450px;
	padding: 5px;
	width: 95%;
}

.content-pendulum-help .screenshot img {width: 100%;}

@media screen and (min-width: 48em) {
	.content-pendulum-help .screenshot {
		margin: 12px 10px;
	}
}
