:root {
	--body-background-color: #333;
	--body-text-color: #ddd;

	--link-color: #91c4ef;
	--link-hovered-color: #77c1ff;
	--link-visited-color: #e1b6ed;
	--link-visited-hovered-color: #e9a0fe;

	--header-background-color: #222;
	--header-text-color: #ccc;

	--separator-color: #888;

	--crossfire-volunteer-background: #33333391;
	--crossfire-volunteer-content-shadow: 0 2px 16px #333;
}

body {
	background-color: var(--body-background-color);
	color: var(--body-text-color);
}

a {color: var(--link-color);}
a:hover {color: var(--link-hovered-color);}
a:visited {color: var(--link-visited-color);}
a:visited:hover {color: var(--link-visited-hovered-color);}

h1, hr {
	border-color: var(--separator-color);
}

header {
	background-color: var(--header-background-color);
}

header nav {
	color: var(--header-text-color);
}

.content-crossfire-volunteer {
	background: var(--crossfire-volunteer-background);
	box-shadow: var(--crossfire-volunteer-content-shadow)
}
