.content:not(.content-doftor) {
	display: none;
}

/*********************************************
 * Debug - Pendulum
 *********************************************/
/*.content-pendulum canvas {background-color: #888;}*/
/*.content-pendulum .screen {background-color: #a88;}*/
/*.content-pendulum .statisics-controls {background-color: #c77;}*/
/*.content-pendulum .statisics-hud {border: 1px solid #88a;}*/
/*.content-pendulum .control-panel {background-color: #8a8;}*/
