<VirtualHost *:80>
	ServerName ddimo.eu
	ServerAlias *.ddimo.eu
	DocumentRoot /var/www/ddimo.eu

	#ErrorDocument 400 /400.html
	#ErrorDocument 403 /403.html
	#ErrorDocument 404 /404.html
	#ErrorDocument 500 /500.html

	<ifModule mod_headers.c>
		Header append Cache-Control "public"
	</ifModule>

	<ifModule mod_expires.c>
		ExpiresActive On

		# 30 days
		ExpiresByType text/html A2592000

		# 1 year
		ExpiresByType application/javascript A31536000
		ExpiresByType image/gif A31536000
		ExpiresByType image/png A31536000
		ExpiresByType image/svg+xml A31536000
		ExpiresByType text/css A31536000

		# override the default for "/doftor" to 7 days, because it changes often
		<Directory ~ "/doftor">
			ExpiresByType application/javascript A604800
			ExpiresByType text/html A604800
		</Directory>
	</ifModule>

	ErrorLog ${APACHE_LOG_DIR}/ddimo.error.log
	CustomLog ${APACHE_LOG_DIR}/ddimo.access.log combined
</VirtualHost>
